---
layout: default
---

<section class="hero">
	<div class="hero-inner">
		<div class="container">
			<img src="images/logo.png" class="logo_" />
			<h1>UCD's Internet &<br>Computer Science Society</h1>
			<a
				href="{{ '/about' | prepend: site.baseurl }}"
				class="button button-ghost"
				title="about"
				>about</a
			>
			<a
				href="{{ '/docs' | prepend: site.baseurl }}"
				class="button button-ghost"
				title="docs"
				>docs</a
			>
			{% include social.html %}

			{% include sponsors.html %}
		</div>
	</div>
</section>
