<p>Thanks to our sponsors: </p>

<div class="sponsors-row">
    <div class="sponsors-column">
        <a href="https://stripe.com/en-ie/jobs/university">
            <img
                src="images/stripe-logo-white.svg">
        </a>
    </div>

    <div class="sponsors-column">
        <a href="https://www.arista.com/en/careers">
            <img
                src="images/arista_white.png">
        </a>
    </div>

    <div class="sponsors-column">
        <a href="https://careers.sig.com/">
            <img src="images/sig_white.png">
        </a>
    </div>
</div>
