<p>Thanks to our sponsors: </p>

<div class="sponsors-row">
    <div class="sponsors-column">
        <a href="https://stripe.com/en-ie/jobs">
            <img
                src="images/stripe-logo-white.svg">
        </a>
    </div>

    <div class="sponsors-column">
        <a href="https://careers.microsoft.com/us/en">
            <img
                src="images/microsoft-logo.png">
        </a>
    </div>

    <div class="sponsors-column">
        <a href="https://www.amazon.jobs/en-gb/location/dublin-ireland">
            <img src="images/amazon-logo.png">
        </a>
    </div>
</div>